@page "/"



<div class="container-fluid">
  <div class="row">

      <div class="col">

          <h1 class="text-center">
              Nasa API Photos
          </h1>


      </div>
   </div>


    <div class="row text-container">
        <div class="col-md-5">
            <p style="font-size:large">

                Welcome! In this application you can view the Astronomy Photo Of The Day posted by NASA for oday
                as well as view photos from previous days. You can also view photos sorted by random dates from any
                of the three Mars Rovers all curtousy of the NASA Web API.


            </p>


        </div>
    </div>
    

</div>

