@page "/Opportunity"
@using NASA_App.Data
@using NASA_App.Data.Models
@inject IRoverPhotoService RoverPhotoService



<body>

    @if (_photos != null && _photos.Count > 0)
    {



        <div class="container-fluid">

            <div class="row">
                <div class="col">
                    <header>
                        <h1>
                            Opportunity
                        </h1>
                        <h4>

                            @_photos[_index].EarthDate

                        </h4>
                    </header>
                </div>


            </div>

            <div class="row">
                <div class="col arrow-left">
                    <button class="btn" @onclick="PreviousPicture"> <i class="fa fa-arrow-left"> </i> Back</button>
                </div>


                <div class="col justify-content-center">

                    <a href="@_photos[_index].ImgSrc" target="_blank">
                        <img src="@_photos[_index].ImgSrc" class="img-fluid" />
                    </a>

                </div>

                <div class="col arrow-right">
                    <button class="btn" @onclick="NextPicture"><i class="fa fa-arrow-right"></i> Forward</button>
                </div>

            </div>

            <div class="row justify-content-center default-padding">
                <div class="col-md-5 blockquote text-lg-center">
                    <p>@_photos[_index].Camera.FullName</p>
                </div>
            </div>



        </div>

    }
    else if(_photos != null && _photos.Count == 0)
            {
                <p class="loading-text">
                    Oops there doesn't appear to be any photos for @date
                </p>
            }
    else
    {
        <p class="loading-text">Loading... </p>


    }



</body>



@code {


    public List<Photo> _photos;
    public int _index = 0;
    string date;

    protected override async Task OnInitializedAsync()
    {
        date = RoverPhotoService.GetRandomDate().ToString("yyyy-MM-dd");

        string path = "https://api.nasa.gov/mars-photos/api/v1/rovers/opportunity/photos?earth_date="
        + date + "&api_key=HbTKyhkhfs0fqB7QalcH4XuQJ9VzelFT3Lgxxspa";

        _photos = await RoverPhotoService.GetRoverPhotos(path);




    }

    public void NextPicture()
    {
        if (_index < _photos.Count - 1)

            _index++;

    }

    public void PreviousPicture()
    {
        if (_index > 0)
            _index--;
    }


}

