@page "/marsroverphotos"
@using NASA_App.Data


    <body>

        @if (currentPhoto != null)
        {
            imageUri = currentPhoto.Img_src;


       <div class="container-fluid">

            <div class="row">
                <div class="col">
                    <header>
                        <h1>
                            Curiosity
                        </h1>
                    </header>
                </div>

                <div class="col">
                    <header>
                        <h1>
                            Other Rover
                        </h1>
                    </header>
                </div>

            </div>

            <div class="row">
                <div class="col arrow-left">
                    <button class="btn"> <i class="fa fa-arrow-left"> </i> Back</button>
                </div>
   

                    <div class="col">

                        <a href="@rover.Photos[0].Img_src" target="_blank">
                            <img src="@currentPhoto.Img_src" class="img-fluid" />
                        </a>

                    </div>

                <div class="col arrow-right">
                    <button class="btn" @onclick="NextPicture"><i class="fa fa-arrow-right"></i> Forward</button>
                </div>

             </div>
                <div class="row justify-content-center default-padding">
                    <div class="col-md-5 blockquote ">
                        <p>@currentPhoto.Camera.Full_name</p>
                    </div>
                </div>



            </div>

            }
            else
            {
            <p>Loading...</p>

            }



</body>



@code {

    static readonly string roverPath = "https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos?earth_date=2015-6-3&api_key=HbTKyhkhfs0fqB7QalcH4XuQJ9VzelFT3Lgxxspa";

    public List<Photo> returnedRovers = new List<Photo>();

    public int roverPosition;
    public Photo currentPhoto;
    Rover rover;
    Uri imageUri;

    RoverService roverService = new RoverService();


    protected override async Task OnInitializedAsync()
    {

        rover = await roverService.GetRoverDataAsync(roverPath);
        returnedRovers = rover.Photos;
        currentPhoto = returnedRovers[roverPosition];

       
    }


    public void NextPicture()
    {
        for (int i = 0; i < roverPosition; i++)
        {

            currentPhoto = returnedRovers[i];
        }

        roverPosition++;

    }



}
